server:
  port: 8080
spring:
  application:
    name: haochidian
  shardingsphere:
    datasource:
      names: master,slave
      master:
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: jdbc:mysql://192.168.3.5:3306/haochidian
        username: root
        password: 123123
      slave:
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: jdbc:mysql://192.168.3.5:3307/haochidian
        username: root
        password: 123123
      masterslave:
        name: dataSource
        load-balance-algorithm-type: round_robin
        master-data-source-name: master
        slave-data-source-names: slave
      props:
        sql:
          show: true
  main:
    allow-bean-definition-overriding: true
  redis:
    host: localhost
    port: 6379
#    password: 123123
    database: 0
  cache:
    redis:
      time-to-live: 1800000 #缓存时间30min
mybatis-plus:
  configuration:
    #在映射实体或者属性时，将数据库中表名和字段名中的下划线去掉，按照驼峰命名法映射
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      id-type: ASSIGN_ID

haochidian:
  pic:
#    path: C:/Users/23763/Desktop/jpg/
    path: /home/genius669/Desktop/jpg/